body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 240px;
    background-color: #7f54d3;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.menu li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu li.active {
    background-color: #5a00b0;
}

.menu li:hover {
    background-color: #682cbf;
}

.icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.sign-out {
    padding: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: white;
    justify-content: center;
    margin-top: auto; /* Ensures Sign Out is at the bottom */
}

.sign-out i {
    margin-right: 15px;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    width: 100%;
    padding-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header h1 {
    font-size: 34px;
    margin: 0;
}

.admin {
    display: flex;
    align-items: center;
    font-size: 34px;
}

.admin span {
    margin-right: 12px;
    font-weight: bold;
}

.profile-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

.stats-card {
    width: 30%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}

.stats-card h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.stats-card h1 {
    font-size: 2.5em;
    color: #333;
}

.table-container {
    width: 100%;
}

.table-header {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.5em;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

.present-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.clear {
    background-color: #333;
}